.edit_button {
  color: #b59b1d;
  border-color: #b59b1d;
}

.item {
  position: relative;
  min-height: 58px;
}

.meta {
  background-color: whitesmoke;
  width: 100vw;
  border-radius: 2px;
  padding-left: 10px;
}

/* .option {
  position: absolute;
  width: 100vw;
  z-index: 1;
  padding-top: 10px;
  padding-right: 10px;
} */

/* .edit_button {
  padding: 4px 25px;
} */
