@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.static {
  height: 80px;
}

.content_area {
  overflow: auto;
  height: calc(100% - 157px);
}

.content {
  overflow: auto;
  height: calc(100% - 110px);
}

.content_log {
  overflow: auto;
  height: calc(100% - 80px);
}

.footer_area {
  height: 77px;
  background-color: black;
}

.footer {
  height: 30px;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
