.edit_button {
  color: #b59b1d;
  /* border-color: #b59b1d; */
}

.delete_button {
  color: crimson;
}

.pay_status {
  padding-right: 10px;
}

.des_col {
  padding-bottom: 10px;
}

.item {
  background-color: whitesmoke;
  border-radius: 2px;
  padding-left: 10px;
}

.meta {
  margin-bottom: 0px !important;
}

.anchor {
  width: 65vw;
  overflow-wrap: break-word;
}

.descriptions {
  padding: 0px 25px;
}

.list {
  padding: 25px;
  max-height: 50vh;
  overflow: auto;
}

.paid_amt {
  color: green;
}

/* .option {
  position: absolute;
  width: 100vw;
  z-index: 1;
  padding-top: 10px;
  padding-right: 10px;
} */
